:root {
    --black: #292929;
    --white: #FFFEFE;
    --accent1: #FFB429;
    --accent1-darker: #F2A30F;
    --accent2: #FFCF75;
    --gray: #a9a9a9;
    --font-family: 'Poppins', sans-serif;
    --font-normal: 400;
    --font-bold: 700;
    --border-radius: 4px;
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-normal);
}

.wrapper {
    min-height: 100vh;
    background-color: var(--black);
    padding: 2vh 2vw;
}

.space-around {
    margin: 10px;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}